@use "../../styles/variables.scss" as *;

.button {
  padding: 20px;
  display: block;
  width: max-content;
  background: $white-1;
  color: $purple-1;
  font: inherit;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.iconOnly {
  padding: 0;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;

  .svg {
    width: 30px;
    height: 30px;
  }
}
