@use "./variables.scss" as *;

:root {
  --background: #ffffff;
}

#root {
  width: 100%;
  height: 100vh;
}

html,
body {
  scroll-behavior: smooth;
  position: relative;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $purple-2;
  color: $white-1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-locale: auto;
}

input,
textarea,
button {
  border: none;
  border-radius: 0;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea,
button {
  -webkit-appearance: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input::-ms-reveal,
input::-ms-clear {
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}
